.post {
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    /* border: 1px solid rgba(0, 0, 0, 0.575); */
    margin: 1rem;
    margin-top: 1rem;
    /* box-shadow: 1px 0px 10px rgb(95, 160, 109); */
  }
  .post-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
    /* height: fit-content; */
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    /* border-top:1px solid rgba(0, 0, 0, 0.171) ; */
  }
  .post-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .post-user-name {
    margin-left: 1rem;
  }
  .post-profile-pic {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%; /* Make it a circle */
    
    justify-content: center; /* Horizontally center the content */
   
    margin-left: 0.4rem;
    overflow: hidden;
    
  }
  
  .post-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .post-footer {
    display: flex;
    justify-content: space-around;
  
    /* background-color: aqua; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    border-top: 1px solid rgba(0, 0, 0, 0.171);
    /* height: 2rem; */
    /* color: aqua; */
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .count {
    /* background-color: blue; */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-left: 0.4rem;
    height: 2rem;
    text-align: center;
  }
  .comments,
  .send,
  .likes {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .post-images {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: 800px; */
    height: 500px;
    width: auto;

    
  
  }
  .post-text {
    margin: 1rem;
  }
  
  .post-image {
    margin-right: 1rem;
    margin-bottom: 1rem;
    
    
    width: 100%;
    height: 100%;
    object-fit: contain; 
  }
  .post-content {
    height: max-content;
  }
  